.header {
  width: 100%;
  height: 80px;
  position: sticky;
  top: 0;
  z-index: 999999;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 3%;
  background-color: var(--bg-color);
  backdrop-filter: blur(10px);
  transition: background-color 0.5s linear;
  box-shadow: rgba(0, 0, 0, 0.090) 0px 0px 15px 0px;
}

.scroll-progress {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 4px; /* You can increase thickness */
  background: linear-gradient(to right, #ffd52c, #483AA0);
  transition: width 0.2s ease-out;
  z-index: 9999;
}



.header .logo {
  gap: 10px;
  cursor: pointer;
}

.header .logo .icon_bx {
  color: var(--text-color);
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}


.header .logo .logo_name {
  line-height: 26px;
}

.header .logo .logo_name p {
  font-family: "Righteous", sans-serif;
  font-size: 22px;
  color: var(--text-color);
}

.header .logo .logo_name span {
  font-size: 15px;
  letter-spacing: 1px;
  color: var(--text-color-2);
  display: flex;
  align-items: center;
  gap: 2px;
}


.header .right_nav{
  gap: 30px;
  height: auto;
  position: relative;
}

.header .right_nav .btn_connect{
  display: flex;
  align-items: center;
}

.header .right_nav .btn_connect a {
  background-color: var(--bg-btn-2);
  padding: 8px 15px;
  color: #fff;
  font-size: 17px;
  border-radius: 8px;
  display: flex;
  align-items: center;
  gap: 6px;
  position: relative;
  overflow: hidden;
  transition: all 0.3s ease-in-out;
  box-shadow: rgba(0, 0, 0, 0.090)5px 5px 10px 0px;
}

.header .right_nav .btn_connect a:hover{
  box-shadow: none !important;
}




.header .navbar {
  height: 100%;
  gap: 25px;
  position: relative;
}

.navbar li {
  list-style: none;
  position: relative;
}

.navbar li a {
  color: var(--text-color);
  text-transform: uppercase;
  font-weight: 500;
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 16px;
  transition: 0.5s ease;
}

.navbar li a .nav_icon{
  display: none;
}
.navbar li a:hover {
  color: var(--text-color-2);
}

.navbar li:hover .plus-icon {
  transform: rotate(360deg);
}

/* Ensure smooth transition */
.plus-icon {
  transition: transform 0.6s ease-in-out;
  display: inline-block;
}

.navbar li .active-link {
  color: var(--text-color-2);
  transition: all 0.3s ease-in-out;
}


.navbar li .dropdown {
  position: absolute;
  top: 45px;
  right: 0;
  background-color:var(--bg-color);
  border-top: 4px solid var(--text-color-2);
  border-radius: 2px;
  list-style: none;
  opacity: 0;
  visibility: hidden;
  transform: translateY(-10px);
  transition: all 0.3s ease-in-out;
  min-width: 230px;
  z-index:999999;
  box-shadow: rgba(0, 0, 0, 0.090) 5px 5px 16px 0px;
  overflow: hidden;
  backdrop-filter: blur(10px);
}

.navbar li .dropdown .item {
  padding: 8px 10px;
  font-size: 15px;
}



.navbar li .dropdown .item:hover {
  background-color: rgba(71, 58, 160, 0.048);
  color: var(--text-color-2);
}




.dropdown li:hover {
  background-color: #555;
}

.navbar li:hover .dropdown {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
}

/* Hamburger */
.hamburger {
  display: none;
  cursor: pointer;
  background-color: var(--text-color-2);
  padding: 6px;
  border-radius: 5px;
  color: #fff;
}

/* Mobile Navbar Slide In (ONLY nav, not other buttons) */
@media (max-width: 991px) {
  .hamburger{
    display:flex;
    margin-left: 30px;
 
    
  }
   .header .navbar {
    position: fixed;
    top: 0px;
    left: -300px;
    height: 100vh; 
    width: 260px;
    background-color: var(--bg-color);
    flex-direction: column;
    align-items: flex-start;
    z-index: 99999;
    transition: left 0.3s ease-in-out;
    display: flex; 
    box-shadow: rgba(0, 0, 0, 0.090) 0px 0px 20px 0px;
    gap:0px;
    border-right:3px solid var(--text-color-2);
  }

  .navbar.open {
    left: 0;
  }

  .navbar li {
    width: 100%;
    margin: 0;
  }

  .navbar li a {
    display: flex;
    width: 100%;
    padding: 10px 10px;
    font-size: 16px;
    border-bottom: none;
  }
  .navbar li a .nav_icon{
    display: flex;
  }

  .navbar li .dropdown {
    position: static;
    transform: none;
    opacity: 1;
    visibility: visible;
    background-color: transparent;
    border: none;
    padding-left: 10px;
    box-shadow: none;
    backdrop-filter: none;
  }

  .navbar li .dropdown .item {
    padding: 8px 0;
    font-size: 15px;
    display: flex;
  }
}

@media(max-width:576px){
  .header .right_nav .btn_connect a {
     padding: 10px;

  }
  .header .right_nav .btn_connect a p{
    display: none;

  }
}

@media(max-width:450px){
  .header .right_nav .btn_connect a {
    display: none;

  }
  .hamburger{
    display:flex;
    margin-left: 10px;
 
    
  }
}