.location_section{
    width: 100%;
    padding: 30px 3%;
}

.location_section .sm_heading{
    font-family: "Style Script", cursive;
    font-size: 27px;
    color: #483AA0;
}

.location_section .heading_container{
    justify-content: space-between;
    width: 100%;
}


.location_section .heading_container .heading_main{
    width: 60%;
}

.heading_container .heading_main h1{
    margin-bottom: 15px;
    margin-top: 7px;
}

.heading_container .heading_main p{
    font-size: 16px;
    color: #808080;
}

.heading_container .view_all{
    padding: 10px 15px;
    background-color: #483AA0;
    color: #fff;
    box-shadow: rgba(71, 58, 160, 0.212) 4px 4px 8px 0px;
   font-weight: 500;
   border-radius: 3px;
   display: flex;
   align-items: center;
   gap: 6px;
   
}

.heading_container .view_all .rotate{
    display: flex;
    align-items: center;
    margin-top: 3px;
    animation: fade 2s ease infinite;
    transform: rotate(50deg);

}


.location_section .location_grid{
    display: grid;
    margin: 50px 0px 30px 0px;
    grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
    gap: 20px;
    position: relative;
}

.location_section .location_grid .card{
    width: 100%;
    height: auto;
    position: relative;
    box-shadow: rgba(71, 58, 160, 0.082) 8px 8px 10px 0px ;
    background-color: #fff;
    border-radius: 7px;
    cursor: pointer;
    border: 1px solid rgba(71, 58, 160, 0.082);
    overflow: hidden;

}

.location_grid .poster{
    width: 100%;
    height: 200px;
    overflow: hidden;
    position: relative;
}

.location_grid .poster img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: 0.5s ease;
}

.location_grid .card:hover img{
    transform: scale(1.2);
}

.location_grid .poster .time{
    position: absolute;
    top: 15px;
    left: 20px;
    z-index: 55;
    background-color: #483AA0;
    display: flex;
    align-items: center;
    gap: 6px;
    color: #fff;
    padding: 4px 6px;
    font-size: 15px;
    border-radius: 3px;
    font-weight: 500;
    box-shadow: rgba(0, 0, 0, 0.712) 4px 4px 8px 0px;

}


.location_grid .card .info_bx{
    padding: 10px;
}

.location_grid .card .info_bx .title{
    font-size: 19px;
    font-weight: 500;
    color: #292929;
}

.location_grid .card .info_bx .location {
    margin: 10px 0px;
    display: flex;
    align-items: center;
    color: #757575;
    gap: 5px;
    font-size: 17px;
}


.location_grid .card .btn_price_bx{
    justify-content: space-between;
    margin-top: 20px;
}

.location_grid .card .btn_price_bx a{
    border: 1px solid #483AA0;
    display: flex;
    align-items: center;
    padding: 6px 10px;
    transition: 0.5s;
    text-transform: uppercase;
    font-weight: 500;
    gap: 3px;
    border-radius: 5px;
    color: #483AA0;
}

.location_grid .card:hover a{
    background-color: #483AA0;
    color: #fff;
    box-shadow: rgba(0, 0, 0, 0.212) 4px 4px 8px 0px;

}
.location_grid .card .arrow_forword{
    transition: 0.5s ease;
}

.location_grid .card:hover .arrow_forword{
    transform: translateX(3px);
}

.location_grid .card .btn_price_bx .price_bx p{
    color: #757575;
    font-size: 15px;
    font-weight: 500;
    margin-bottom: 3px;
}

.location_grid .card .btn_price_bx .price_bx{
    font-size: 20px;
    font-weight: 500;
    color: #483AA0;
}