@import url(https://fonts.googleapis.com/css?family=Poppins:100,200,300,regular,500,600,700,800,900,100italic,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic);
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
   font-family: 'Poppins',sans-serif;
}

.light {
  --bg-color: #ffffff;
  --text-color: #000000;
}

.dark {
  --bg-color: #121212;
  --text-color: #ffffff;
}

html,body{
  width: 100%;
  height: 100%;
  background-color: var(--bg-color);
  color: var(--text-color);
  transition: all 0.3s ease;
}